body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    margin: 0 auto;
    /* Centraliza o corpo do documento horizontalmente */
    max-width: 800px;
    /* Define a largura máxima do corpo do documento */
    padding: 20px;
    text-align: left;

}

h1 {
    color: #000000;
}

p {
    color: #000000;
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
    color: #000000;
    text-align: left;
    /* Alinha o texto negrito à esquerda */
}