@tailwind base;
@tailwind components;
@tailwind utilities;

#valor-temperatura {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;

}